body{
    background-color:#262626;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}




/* HEADER BEGINS */

.header{
    background-color:#0D0C00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 200px;
    padding-right: 200px;
}

.links ul{
    display: flex;
    gap: 24px;
}
/* header links decoration */
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:white;
}

/* HEADER ENDS */





/* FIRST SECTION BEGINS */

.first-section{
    background-color:#594C3B;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.main-text{
    display: flex;
    flex-direction: column;
    width:800px;
}
.title{
    font-size: 100px;
    font-weight: bold;
    color: #F9FAF8;
}

.first-section img{
    width: 500px;
    height:450px;
}
/* FIRST SECTION ENDS */




/* SECOND SECTION BEGINS */
.second-section{
    background-color:#403226;
    height:500px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.subtitle{
    font-size:50px;
    padding-top: 40px;
}

.s2-container{
    margin-top: 40px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:300px;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info img{
    max-height:300px;
    width: auto;
    border: 2px solid white;
    border-radius: 10px;
}
/* SECOND SECTION ENDS */



/* THIRD SECTION STARTS */
.third-section{
    background-color:#BFA399;
    height:400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s3-text{
    max-width:1000px;
    max-height: 500px;
    font-family: light italic;
    font-size: 36px;
}
/* THIRD SECTION ENDS */



/* FOURTH SECTION STARTS */
.fourth-section{
    background-color:#0D0D0D;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s4-container{
    background-color: #262626;
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:50px;
    font-size: 30px;
}

.s4-container button{
    background-color: #262626;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 10px;
}
/* FOURTH SECTION ENDS */


footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}